
body{
    background-color: #262626;
  }
  .contain{
    position: relative;
    top:70px;
    width:300px;
    margin: 10px auto;
    padding:5px;
    height: 500px;
    overflow-y: auto;
    border:2px solid #ccc;
  }
  div{
    perspective:300px;/*except safari*/
      -webkit-perspective:300px;
    margin: 10px;
    width: 240px;

  }
  span{
    display: block;
    height: 70px;
    width: 240px;
    background-color: #0EA96F;
    border-radius: 5px;
    text-align: center;
    line-height: 70px;
  }
  .hidden{
    opacity: 0.1;
  }
  .downscroll{
      animation: umove 500ms ease forwards;
            -webkit-animation: umove 500ms ease forwards;
  }
  .upscroll{
      animation: dmove 500ms ease forwards;
      -webkit-animation: dmove 500ms ease forwards;
  }

/*=================================================*/
@keyframes umove{/*往下滚动时*/
  0%{opacity: 0.1;
    transform:translateZ(-100px) rotateX(180deg);}
  100%{opacity: 1;
    transform:translateZ(0px) rotateX(0deg);}
}

@-webkit-keyframes umove{/*往下滚动时*/
  0%{opacity: 0.1;
    -webkit-transform:translateZ(-100px) rotateX(180deg);}
  100%{opacity: 1;
    -webkit-transform:translateZ(0px) rotateX(0deg);}
}

@keyframes dmove{/*往上滚动时*/
  0%{opacity: 0.1;
    transform:translateZ(-100px) rotateX(-180deg);}
  100%{opacity: 1;
    transform:translateZ(0px) rotateX(0deg);}
}

@-webkit-keyframes dmove{/*往上滚动时*/
  0%{opacity: 0.1;
    -webkit-transform:translateZ(-100px) rotateX(-180deg);}
  100%{opacity: 1;
    -webkit-transform:translateZ(0px) rotateX(0deg);}
}